@inherits LayoutComponentBase

@using MobileApp.Presentation.Auth;
@inject AuthService authService

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <button class="btn btn-primary" @onclick="Logout">Logout</button>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>



@code {

    public Task Logout()
    {
        return authService.Logout();
    }
}

